.container {
    background: rgb(197, 196, 196);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  border: solid 1px #ccc;
}

.form-group {
    float: left;
    width: 100%;  
}

form label{
    /* background: blue; */
    float: left;
    width: 100%;  
    padding: 4px;
}

textarea{
    /* background: black; */
    background: rgba(239, 241, 244, 0.897);    
    border: solid 1px rgb(134, 171, 244);
    color: rgb(60, 12, 233);
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200;
    float: left;
    width: 100%;  
    padding: 10px;
    outline: none;
}

textarea:focus{
    border: solid 1px rgb(134, 171, 244);
    overflow:scroll;
}

.btn-primary {
    margin: 10px;
    float: left;
    width: 42px;
    height: 20px;
    background: rgba(0, 128, 0, 0.494);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn-secundary {
    margin: 10px;
    float: left;
    width: 42px;
    height: 20px;
    background: rgba(82, 2, 2, 0.507);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.inline {
    float: left;
    width: 100%;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    border-spacing: 0;    
    margin-top: 10px;
}

table, td, th {
    border: solid 1px rgb(134, 171, 244);   
    font-family: 'Prompt', sans-serif;
}

table body {
    display: table;
    width: 100%;
}

td {
    font-size: 9px;
    color: rgb(40, 40, 40);
    padding: 4px;
}


th{
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    position: sticky;
    background: rgba(47, 117, 255, 0.897);
    color: antiquewhite;
    font-size: 10px;
    font-weight: bold;
}

table::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
table::-webkit-scrollbar-track {
    background: rgb(247, 247, 247);        /* color of the tracking area */
}
  
table::-webkit-scrollbar-thumb {
    background-color: rgb(22, 111, 254);    /* color of the scroll thumb */        
}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(247, 247, 247);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(22, 111, 254);    /* color of the scroll thumb */        
}

#loading{
    display: none;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {    
    margin: auto;
    --n:3;    /* control the number of stripes */
    --s:6px; /* control the width of stripes */
    --g:4px;  /* control the gap between stripes */
 
    width:calc(var(--n)*(var(--s) + var(--g)) - var(--g));
    height:30px;
    padding:var(--g);
    margin:5px auto;
    border:1px solid;
    background:
      repeating-linear-gradient(90deg,
        currentColor  0 var(--s),
        #0000 0 calc(var(--s) + var(--g))
      ) left / calc((var(--n) + 1)*(var(--s) + var(--g))) 100% 
      no-repeat content-box;
    animation: load 1.5s steps(calc(var(--n) + 1)) infinite;
  }
  @keyframes load {
    0% {background-size: 0% 100%}
  }